---
layout: page
slide_id: 1
---

    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
    <div style="min-width:100%" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="lead">Submission Instructions:</div>

        <p>Requirements for publishing workshop proceedings:</p>
        <ul>
			<li>Authors are invited to submit original papers in two separate tracks:</li>
			<ul>
				<li>Full Paper: submit regular research papers in a single-column format 
with at least 10 pages and at most 18 pages in length, which include tables, figures, and references.</li>
				<li>Short Paper: submit initial results and position/work-in-progress papers 
in a single format with at least 4 pages and at most 8 pages in length, which include tables, figures, and references.</li>
			</ul>
			<li> All submissions should be formatted according to the ACM Proceedings Style 
listed in the SCA/HPCAsia 2026 website (<a href=https://www.sca-hpcasia2026.jp/submit/papers.html>https://www.sca-hpcasia2026.jp/submit/papers.html</a>).</li>
            <li>Solicitation for papers will be open and impose a formal peer review process.</li>
            <li>Papers will be carefully reviewed by a diverse program committee composed of experts from academia, National Labs, and industry.</li>
            <li>Reviewing will be done in double blind, therefore, DO NOT include any author names or affiliations on any submitted documents and DO NOT reveal the author or affiliation information via any action such as metadata, previous work. </li>
			<li>Accepted full papers will be published in ACM-affiliated proceedings. (Short papers will not appear in the proceedings.)</li>
			<li>At least one author of an accepted paper must register for and attend the workshop.</li>
			<li>Please submit papers through the RSDHA 2026 EashChair site: <a href=https://easychair.org/conferences?conf=rsdha26>https://easychair.org/conferences?conf=rsdha26</a> </li>
        </ul>
        

        <!--<p> Papers should use the <strong class="text-danger">standard ACM Template</strong>, available at
            <a href="http://www.acm.org/sigs/publications/proceedings-templates">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> ACM Article Template
            </a>.
        </p>


        <p>To submit your paper, please follow below link to the submission site:</p>

        <p class="text-center">
            <a href="https://easychair.org/conferences/?conf=hotweb2017">
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            <strong>    Paper Submission Site </strong>
            </a>
        </p>

        <p>Note that at least one of the authors of each paper accepted for presentation in HotWeb 2017 must be registered.
            All papers presented at the workshop will be included in the ACM Digital Library.</p>

        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.

             
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 

        </p>



     {% include contact-us.html %}


    <div style="float:right" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
    </div>
</div>
